.user-profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    background-color: #8f2e2b;
    height: 100%
}


.user-profile-card {
    margin-top: 50px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    box-shadow: 10px 5px 5px gray;
}

.user-profile-card-header {
    margin-bottom: 20px;
    color: black;
    display: flex;
    justify-content: center;
}


.user-profile-card-content {
    color: black;
}

.mat-card>.mat-card-actions:last-child {
    margin-bottom: -8px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-evenly;
}